@model IEnumerable<BasicASPTutorial.Models.Student>; //ใช้ IEnumerable เพื่อมาครอบความเป็น Model หลายๆข้อมูล
@{
    ViewData["Title"] = "หน้าแรก";
}

<h1 class="text-center">หน้าแรกของเว็บไซต์</h1>

@foreach(var student in Model)
{
    <p>รหัสนักเรียน : @student.Id</p>
    <p>ชื่อ : @student.Name</p>
    <p>คะแนนสอบ : @student.Score</p>
    @if (student.Score >= 50)
    {
        <strong class="text-success">สอบผ่าน</strong>
    }
    else
    {
        <strong class="text-danger">สอบไม่ผ่าน</strong>
    }
    <hr/>
}